body {
    background-image: url("coffee-beans-top-view-white-background-space-text.jpg"); no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.theman {

    height: 110px;
    width: 120px;
}